SERPER_API_KEY=KEY # https://serper.dev/ (free tier)
BROWSERLESS_API_KEY=KEY # https://www.browserless.io/ (free tier)
SEC_API_API_KEY=KEY # https://sec-api.io/ (free tier)
TOGETHER_AI_API_KEY=KEY # https://api.together.xyz/ (free tier)
OPENAI_API_KEY=KEY # https://platform.openai.com/ (free tier)
BRAVE_API_KEY=KEY
ANTHROPIC_API_KEY=KEY
MISTRAL_API_KEY=KEY
N8N_WEBHOOK_URL=KEY